.calculator-container {
    display: flex;
    flex-direction: column;
    width: 250px;
    background-color: #0b0a0a;
    border-radius: 5px;
    margin: 0 auto;
    padding: 10px;
}

.display {
    width: 90%;
    padding: 10px;
    font-size: 24px;
    border: none;
    background-color: #f9f1f1;
    text-align: right;
}

.button-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    margin-top: 10px;
}

.button {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
}

.operator {
    background-color: #ebe2e2;
}

.clear {
    background-color: #f08080;
}

.equal {
    background-color: #46b470;
}